### Hierarquia de índices e índices múltiplos

In [12]:
import pandas as pd
import numpy as np

# Níveis de Índice
outside = ['G1', 'G1', 'G1', 'G2', 'G2', 'G2']
inside = [1, 2, 3, 1, 2, 3]
hier_index = list(zip(outside, inside))

In [13]:
hier_index = pd.MultiIndex.from_tuples(hier_index)
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [14]:
df = pd.DataFrame(data=np.random.randn(6, 2), index=hier_index, columns=['A', 'B'])
df

             A         B
G1 1  0.638401  0.433740
   2  2.001957 -0.814335
   3 -1.731524 -1.637335
G2 1  0.624522 -0.079959
   2  0.006894  0.868914
   3  0.482175 -2.017854

In [18]:
df.loc['G1'].loc[1] # Acessando um valor específico do DataFrame com índices múltiplos

          A         B
1  0.638401  0.433740
2  2.001957 -0.814335
3 -1.731524 -1.637335

In [23]:
# df.index.names # Nomes dos índices do DataFrame
df.index.names = ['Grupo', 'Número'] # Atribuindo nomes aos índices
df

                     A         B
Grupo Número
G1    1       0.638401  0.433740
      2       2.001957 -0.814335
      3      -1.731524 -1.637335
G2    1       0.624522 -0.079959
      2       0.006894  0.868914
      3       0.482175 -2.017854

In [25]:
df.xs(1, level='Número') # Retorna todos os valores do índice 1 de todos os grupos do DataFrame. O level é o índice que será utilizado para a seleção

              A         B
Grupo
G1     0.638401  0.433740
G2     0.624522 -0.079959