### GroupBy
- Permite separar os dados em grupos e aplicar funções a esses grupos.
- O método `groupby` é um objeto que contém informações sobre os grupos.
- O método `agg` permite aplicar funções de agregação aos grupos.
- O método `transform` permite aplicar funções de transformação aos grupos.

In [5]:
import pandas as pd

data = {'Classe': ['Junior', 'Pleno', 'Senior', 'Junior', 'Pleno', 'Senior'],
        'Nome': ['João', 'Maria', 'José', 'Ana', 'Carlos', 'Paula'],
        'Salario': [3000, 5000, 8000, 3500, 6000, 9000]}

df = pd.DataFrame(data)
df

   Classe    Nome  Salario
0  Junior    João     3000
1   Pleno   Maria     5000
2  Senior    José     8000
3  Junior     Ana     3500
4   Pleno  Carlos     6000
5  Senior   Paula     9000