In [2]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'A':[1,2,np.nan], 'B':[5,np.nan,np.nan], 'C':[1,2,3]})
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [5]:
# Remove linhas com valores ausentes. O axis = 0 é o padrão e indica que a remoção será feita nas linhas.
# O thresh é o número de valores não ausentes que a linha deve ter para não ser removida.
df.dropna(axis=1, thresh=2)

     A  C
0  1.0  1
1  2.0  2
2  NaN  3

In [6]:
# O fillna preenche os valores ausentes com o valor passado como parâmetro.
df.fillna(value='Ausente')

         A        B  C
0      1.0      5.0  1
1      2.0  Ausente  2
2  Ausente  Ausente  3

In [7]:
# Preenche os valores ausentes com a média dos valores da coluna. O value é o valor que será preenchido. O df['A'].mean() é a média dos valores da coluna A.
df['A'].fillna(value=df['A'].mean())

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64

In [10]:
# O ffill preenche os valores ausentes com o valor anterior. O backfill preenche com o valor posterior.
df.ffill()

C:\Users\andre\AppData\Local\Temp\ipykernel_20240\2963331783.py:3: FutureWarning: DataFrame.backfill/Series.backfill is deprecated. Use DataFrame.bfill/Series.bfill instead
  df.backfill()

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3